Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Login==0.6.3
python-dotenv==1.0.1
SQLAlchemy==2.0.35
Werkzeug==3.0.4
pandas==2.2.3
openpyxl==3.1.5
numpy==2.1.1
scikit-learn==1.5.2
joblib==1.4.2
APScheduler==3.10.4
requests==2.32.3
python-Levenshtein==0.25.1
google-genai==0.3.0
gunicorn==23.0.0
